In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = [15, 5]

In [45]:
hdf = pd.HDFStore('../data/processed.h5')
Xtrain = hdf['Xtrain']
Ytrain = hdf['Ytrain']
Xtest = hdf['Xtest']
Ytest = hdf['Ytest']
hdf.close()

In [46]:
Xtrain.head()

             Pclass   Age  Sp-Pa     Fare  ppEmbarked  UnknownCabin  UnknownAge  ppSex
PassengerId
1                 3  22.0      1   7.2500           2             1           0      1
2                 1  38.0      1  71.2833           0             0           0      0
3                 3  26.0      0   7.9250           2             1           0      0
4                 1  35.0      1  53.1000           2             0           0      0
5                 3  35.0      0   8.0500           2             1           0      1

In [47]:
pd.DataFrame(Xtrain.isna().sum(axis=0)).T

   Pclass  Age  Sp-Pa  Fare  ppEmbarked  UnknownCabin  UnknownAge  ppSex
0       0    0      0     0           0             0           0      0

# Random Forest

In [48]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=123)

In [49]:
clf.fit(Xtrain, Ytrain)

/Users/manuel.pasieka/anaconda3/envs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [50]:
pd.DataFrame(Xtest.isna().sum(axis=0)).T

   Pclass  Age  Sp-Pa  Fare  ppEmbarked  UnknownCabin  UnknownAge  ppSex
0       0    0      0     0           0             0           0      0

In [51]:
prediction = clf.predict(Xtest)

In [52]:
from sklearn.metrics import classification_report, confusion_matrix

def plot_confusion_matrix(yTrue, yPred, title='Confusion matrix', display_labels=['DEAD', 'SURVIVED'], cmap=plt.cm.Blues, normalize=False, ax=None):
    cm = confusion_matrix(yTrue, yPred)
    if normalize:
        cm = cm / cm.sum()
    if ax is None:
        fig, ax = plt.subplots(nrows=1, ncols=1)
    else:
        fig=ax.get_figure()
    ax.imshow(cm, interpolation='nearest', cmap=cmap)
    
    ax.set_title(title)
    #fig.colorbar()
    tick_marks = np.arange(len(display_labels))
    ax.set_xticks(tick_marks)
    ax.set_yticks(tick_marks)
    ax.set_xticklabels(display_labels, rotation=45)
    ax.set_yticklabels(display_labels)
    
    for (j,i),label in np.ndenumerate(cm):
        ax.text(i,j,cm[i, j],ha='center',va='center')
    fig.tight_layout()
    ax.set_ylabel('True label')
    ax.set_xlabel('Predicted label')

In [55]:
Ytest['Survived'] = prediction

In [58]:
Ytest.to_csv('../prediction/RF.csv')